body{
    margin: 0%;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 5rem;
    position: fixed;
    background-color: rgb(194, 214, 80);
    z-index: 2;
}
.logo{
    width: 40%; 
}
.information{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#abt-sub{
    position: absolute;
    top: 90%; 
    left: 65%;
    display: none;
}
 #abt:hover + span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 8rem;
    width: 15%;
    padding:0% 2%;
    border: 1px solid black;
    background-color: white;
}

.section1{
    display: flex;
    position: relative;
    top: 4rem;
}
.description{
    width: 50%;
    display: flex;
    justify-content: center;
}
.description>div{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.NikhilImage{
    width: 50%;
}
.NikhilImage i:hover{
    color: rgb(128, 128, 128);
}
.section2{
    position: relative;
    top: 4rem;
    background-color: rgb(153, 152, 216);
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 button{
    border: none;
    padding: 1%;
    font-size: 110%;
    color: black;
    margin: 2%;
    border-radius: 5px;
}
.section2 button:hover{
    color: rgb(255, 255, 255);
}

footer{
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 9, 9);
}
footer div{
    text-align: center;
    color: rgb(243, 240, 235);
}